
<!--对话框-->  
<div class="modal fade" id="myLoved" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3 class="modal-title"><b>提&nbsp;&nbsp;示</b></h3>
	  </div>
	  <div class="modal-body">
		<h3 class="modal-title"><b>收藏成功，请到后台查看！</b></h3>
      </div>
    </div>
  </div>
</div>

<!--警告没有登录-->  
<div class="modal fade" id="mySignin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3 class="modal-title"><b>提&nbsp;&nbsp;示</b></h3>
	  </div>
	  <div class="modal-body">
		<h3 class="modal-title"><b>你还没有登录！<br>或者这并不是你的后台！</b></h3>
      </div>
    </div>
  </div>
</div>
<!--请正确输入信息--> 
<div class="modal fade" id="myInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3 class="modal-title"><b>提&nbsp;&nbsp;示</b></h3>
	  </div>
	  <div class="modal-body">
		<h3 class="modal-title"><b>请正确输入账户信息！</b></h3>
      </div>
    </div>
  </div>
</div>
<!--请正确输入信息--> 
<div class="modal fade" id="myAlert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3 class="modal-title"><b>提&nbsp;&nbsp;示</b></h3>
	  </div>
	  <div class="modal-body">
		<h3 class="modal-title"><b>该邮箱或者用户名已经注册了！</b></h3>
      </div>
    </div>  
  </div>
</div>
<!--作者懒，这个功能暂时不做--> 
<div class="modal fade" id="myLazy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 class="modal-title"><b>提&nbsp;&nbsp;示</b></h3>
    </div>
    <div class="modal-body">
    <h3 class="modal-title"><b>作者懒，这个功能暂时不做！(〒︿〒)</b></h3>
      </div>
    </div>  
  </div>
</div>

