
<!--创作者对话框--> 
<div class="modal fade" id="myUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3 class="modal-title"><b>编辑自我介绍</b></h3>
	  </div>
	  <div class="modal-body">
	     <form method="post" action="/edit/user/des">
	     <input type="text" style="display: none" name='newuser[id]' value="<%= user.id %>" >
         <input type="text" name='newuser[description]' value="<%= user.description %>" >
		 <div class="modal-btn">
		   <button type="submit" class="btn btn-default" >确定</button>
		   <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
         </div>
         </form>
	   </div>
     </div>
  </div>
</div>

<!--创作者对话框--> 
<div class="modal fade" id="myPhoto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3 class="modal-title"><b>更新头像</b></h3>
	  </div>
	  <div class="modal-body">
	     <form method="post" action="/edit/user/photo" enctype="multipart/form-data">
	         <input type="text" style="display: none" name='newuser[id]' value="<%= user.id %>" >
	         <input type="text" style="display: none" name='newuser[photo]' value="<%=user.photo %>">
	         <div class="input-append">
	         <input id="upfile" type="file" style="display:none" name='upphoto' >
		     <input id="phototext" class="input-large" type="text" style="height:30px;">
		     <span class="btn btn-sm btn-default uploadbtn" onclick="$('input[id=upfile]').click();" style="width:50px;">上传</span>
	         </div>
			 <div class="modal-btn">
			   <button type="submit" class="btn btn-default" >确定</button>
			   <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
	         </div>
         </form>
	   </div>
     </div>
  </div>
</div>