<!--页脚-->
<footer class="foot">
  <div class="bd"> 
     <a href="https://catsugar.github.io/"><i class="iconfont icon-wenzhang"></i></a>  
     <a href="http://weibo.com/3058509247/profile?topnav=1&wvr=6&is_all=1"><i class="iconfont icon-weibo"></i></a>
     <a href=""><i class="iconfont icon-weixin1"></i></a> 
     <a href="https://github.com/Catsugar"><i class="iconfont icon-github1"></i></a> 
  </div>
  <p class="ft">所有素材均来自互联网，仅用于学习和交流。by 猫岁. </p>
</footer>
