
<!--返回按钮-->
<div id="backbtn" style="display:none">Top</div>
<!--导航-->
<header id="header" >
  <div class="navbox comWidth">
    <div class="nav-left"> <a class="navbar-brand" href="/"  >看什喵？！</a> </div>
    <ul class="nav-middle">
      <li><a href="/">首页</a></li>
      <li><a href="/collect-list">书单</a></li>
      <li><a href="/author-list">作者</a></li>
      <li><a href="">手机端</a></li>
    </ul>
    <form action='/search' method="post">
    <div class="nav-right">
      <input type="text" name='key' placeholder="搜索作者、作品或者标签" maxlength="30">
      <button type="submit" class="iconfont icon-sousuo"></button>
      <ul>
      <% if (_user==undefined) { %> 
        <li class="btnbox">
          <a href="" type="button" class="btn btn-sm btn-danger login" data-toggle="modal" data-target="#myLogin">登录</a> 
          <a href="" type="button" class="btn btn-sm btn-info register" data-toggle="modal" data-target="#myRegister">注册</a> 
        </li>
      <% }else{ %>
        <li class="user-head dropdown"> 
          <a class="headerphoto" style="background-image:url('/<%=_user.photo %>')"></a>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%=_user.name %>&nbsp;<b class="caret"></b></a>
          <div role="menu" class="dropdown-menu user-list">
            <div><a href="/back/<%=_user.id %>">我的后院</a></div>
            <div><a href="#" data-toggle="modal" data-target="#myLazy">消息中心</a></div>
            <div><a href="/user/logout" >退出</a></div>
          </div>
        </li>
      <% } %>  
      </ul>
    </div>
   </form>
  </div>
</header>
