
<!--对话框-->  
<div class="modal fade" id="myLoved" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3 class="modal-title"><b>收藏成功！！！</b></h3>
    </div>
  </div>
</div>

<!--警告没有登录-->  
<div class="modal fade" id="myLoved" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3 class="modal-title"><b>你还没有登录！</b></h3>
    </div>
  </div>
</div>
<!--请正确输入信息--> 
<div class="modal fade" id="myInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3 class="modal-title"><b>你还没有登录！</b></h3>
    </div>
  </div>
</div>

