
<!--返回按钮-->
<div id="backbtn" style="display:none">Top</div>
<!--导航-->
<header id="header" >
  <div class="navbox comWidth">
    <div class="nav-left"> <a class="navbar-brand" href="#"  >看什喵？！</a> </div>
    <ul class="nav-middle">
      <li><a href="/">首页</a></li>
      <li><a href="/collect-list">书单</a></li>
      <li><a href="/author-list">作者</a></li>
      <li><a href="">手机端</a></li>
    </ul>
    <div class="nav-right">
      <input type="text" name='keyword' placeholder="搜索作者、作品或者标签"  >
      <i class="iconfont icon-sousuo" method="post" action="/search?key=keyword"></i>
      <ul>
        <li class="btnbox">
         <a href="" type="button" class="btn btn-sm btn-danger login" data-toggle="modal" data-target="#myLogin">登录</a> 
         <a href="" type="button" class="btn btn-sm btn-info register" data-toggle="modal" data-target="#myRegister">注册</a> </li>
        <li class="user-head"> <a href=""> <img src="/photo/1.jpg" class="img-circle" width="36px"></a> <a href="">猫岁君</a> </li>
      </ul>
    </div>
  </div>
</header>
