@charset "utf-8";
html{height:100%;}
body{
	min-height:100%;
	margin:0;
	width: 100%;
    height: 100%;
    padding-bottom: 150px;
    background-color:rgb(239,238,235);}
body,a,li,ul,div,input,h3{
	font: 16px "Microsoft Yahei", "微软雅黑";
	color:#333;
	list-style:none;
	margin:0px;
	padding:0px;}
a:link,a:visited,a:active{text-decoration:none;}
a:hover{font-weight:bold;text-decoration:none;color:#333;}
.comWidth{
	width:1200px;
	margin:0 auto;}
i{font-style:normal;}
hr{padding:0;margin:10px 0;}
.label{font-size:12px;}
/******************************返回顶部按钮*******************************/
#backbtn { 
    position:fixed;
	bottom:30px;
	right:30px;
	font-weight:bold;
	font-size:16px;
	border-bottom: 0.15rem solid #040000;
	background: rgba(255,255,255,0.2);
	box-shadow: 0 0.25rem 0.25rem rgba(0,0,0,0.5);
	border-radius:5px;
	padding: 10px;
	z-index:50;}
#backbtn:hover a{color:#FFF;}
#backbtn:hover {
	background-color: rgba(0,0,0,0.5);
	color:#FFF;}
@media(max-width:757px) {
#backbtn { 
	bottom:15px;
	right:15px;
	font-size:12px;
	padding: 6px;}
}
/************************导航栏*************************/
#header{
	width:100%;
	min-width:1200px;
	height:55px;
	font-weight:bold;
	background-color:rgb(39, 39, 41);
	z-index:200;
	border-bottom: 0.15rem solid #040000;
	box-shadow: 0 0.25rem 0.25rem rgba(0,0,0,0.5);
    display: -webkit-flex;
	display: flex;
	flex-flow: row nowrap;	
	justify-content:center;}
#header a{text-decoration:none;}
.navbox{
	display: -webkit-inline-flex;
	display: inline-flex;
	justify-content:space-around;}
.nav-left a{
	min-width:220px;
	font-size:26px;
	width:100%;
	padding:0 20px;
	line-height:55px;
	font-weight:bold;
	color:#FFF;
	transition:all ease-in 0.2s;}
.nav-left a:hover{font-size:30px;}
.nav-middle,.nav-right ul{
	flex:1 1 auto;
	display: -webkit-inline-flex;
	display: inline-flex;
	flex-flow: row nowrap;	
	justify-content:space-around;}
.nav-middle li{
	padding:0 20px;
	flex:1 1 auto;
	line-height:55px;
	text-align:center;}
.nav-middle li a{color:#fff;}
.nav-middle li:hover,.header_middle li:active{
	background-color:rgba(223, 223, 223, 0.8);}
.nav-middle li:hover a,.header_middle li:active a{
	font-weight:bold;
	color:#333;}
.nav-right input{
	width:250px;
	height:30px;
	line-height:30px;
	margin:13px;
	border-radius:15px;
	padding:0 25px;
	font-size:14px;
	border:none;}
.nav-right button{
	background-color: #fff;
	margin-left:-50px;
	border: none;
	color:#CCC;
	font-size:18px;
	margin-top:5px;
	width: 25px;}
.nav-right ul{
	margin-left:20px;
	width:200px;}
.btnbox a{
	margin-right:15px;
	margin-top:-4px;}
.user-head{position: relative;}
.user-head a{
	color:#eee;
	margin-left:10px;
	vertical-align: middle;}
.user-list{
	position: absolute;
	top:50px;
	left: -20px;
	width: 100px;
	height: 140px;
	background-color: #333;
	border-radius: 5px;
	border: 1px #333 solid;
	z-index: 500;
	display: none;}
.user-list div{
	width: 100%;
	padding:10px;
	flex:none;
	color:#eee;}
.user-list div:hover{background-color: #666;}
.headerphoto{
	width: 35px;
	height:35px;
	border-radius: 50%;
	background-size:cover;
	background-position: center;
	display: inline-block;}
.leftphoto{
	width: 60px;
	height:60px;
	border-radius: 50%;
	background-size:cover;
	background-position: center;}
/******************布局********************/
.main{
	position:relative;
	margin-top:60px;}
.main-left{
	width:67%;
	float:left;
	margin-bottom:60px;
	min-height:660px;}
.main-right{
	margin-left:3%;
	width:30%;
	margin-top:10px;
	float:left;
	margin-bottom:60px;}
.main-left h3{
	text-align:left;}	
/******************左边布局********************/
.content-box li{
	width:100%;
	margin-bottom:10px;}
.content-box a,p{font-size:13px;}
.content-left {width:15%;float:left;}
.main-top img,.content-left img{box-shadow: 0 0.25rem 0.25rem rgba(0,0,0,0.5);}
.main-top img:hover,.content-left img:hover{box-shadow: 0 0.5rem 0.5rem rgba(0,0,0,0.5);}
.content-left a{
	width:60px;
	display:block;
	font-size: 13px;
	text-align:center;
	line-height:30px;}
.content-right {
	width:85%;
	padding:20px;
	float:left;
	font-size:13px;
	border:1px solid #999;
	background-color:#fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom:10px;}
.label{opacity:0.6;}
.label:hover{opacity:1;}
.content-right hr{
	border:1px dotted #666;
	width: 100%;}
.title,.author{color:#F30;font-weight:bold;opacity:1;}
.title:hover,.author:hover{opacity:0.6;color:#F30;}
.comment{
	margin-top:10px;
	height:auto;
	overflow:hidden;}
.comment p{
	font:13px/24px;
	text-indent:30px;
	text-overflow:ellipsis;
	overflow:hidden;}
/***页码***/
#curpage{background-color:#666;color:#fff;}
.pagination{
	clear:both;
	display:block;
	float:right;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
.pagination li a:hover{background-color:#ccc;color:#666;}

.pagination li a{color:#666;}
/******************右边布局********************/
.right-title{
	width:100%;
	border:1px solid #999;
	border-radius:5px;}
.right-title h3{
	width:100%;
	background-image:-webkit-linear-gradient(top,rgb(40,40,40),rgb(100,100,100));
	height:45px;
	line-height:45px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	margin-top:0;
	text-align:center;}
.right-content{
	width:358px;
	background-color:#FFF;
	border-top:1px solid #aaa;
    overflow: hidden;
    height:0;
    transition: height .5s;}
.right-content li{
	width:100%;
	line-height:30px;
	font-size: 12px;
	border-bottom:1px dotted #aaa;
	text-indent:15px;
	color:#666;}
.right-content ul>li:last-child{border-bottom:none;}
.right-content li a{
	color:#66C;
	font-size: 13px;}
.right-content li span{
	margin-top:5px;
	margin-right:10px;
	font-size: 12px;
	text-align:center;}
.ad-band{margin:20px;}
.ad-band a{display:inline-block;}
/********实现切换效果**********/
.main-right input{
	display:none;}
.op:checked+label .right-content{
	display:block;
	height:320px;}
.right-title h3 a:hover{
	text-decoration:none;}
.right-title h3 a{
	color:#fff;}
/*************页脚******************/
.foot{
   margin-top: -150px;
   clear:both;
   width:100%;
   min-width:1200px;
   height:150px;
   font-size:12px;
   color: #CCC; 
   text-align: center;
   background-color:#666;}
.bd{line-height:80px; }
.ft{line-height:12px; }
.bd a {color: #fff;margin:15px;}
.bd a i{ font-size:34px;transition:all ease-out 0.2s;}
.bd a i:hover {font-size:44px;}
/***************************小说页*********************************/
.novel-box,.love-box,.commentbox, .collection-box li,.authorlist-box li{
	border:1px solid #999;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding:20px;
	font-size:14px;
	color:#666;
	position:relative;}
.novel-box,.commentbox,.collection-box li{
	margin-top:10px;background-color:#fff;line-height:24px;}
.authorlist-box li{line-height:24px;background-color:#fff;}
.authorlist-box li hr{border:1px dotted #999;}
.love-box{
	margin-bottom:20px;
	background-color:#eee;
	line-height:24px;}
.novel-box h1{display:inline-block;}
.novel-box table{border-top:2px dotted #aaa;width:100%;}
.love-box input{
	width:200px;
	font-size:13px;
	height:30px;
	line-height:30px;
	margin-top:5px;}
.love-box select {
	width: 50px;
	font-size:13px;
	height:30px;
	line-height:30px;
	margin-top:5px;
	margin-left: 0px;
	display: inline-block;
	text-align: center;}
.love-box input,button,select{vertical-align:baseline}
.love-box li{margin-bottom: 30px;}
.replybox li{
	padding-left:30px;
	padding-bottom: 20px;}
/********实现切换效果**********/
.state{
	display:none;}
.state:checked+label{
	color:#FFF;
	font-weight:bold;
	background-color:#C00;}
/********实现切换效果**********/
.love-box button{
	margin-left:20px;
	margin-top:-5px;}
.score { 
	color:#F66;
	margin-left:5px;
	font-size:20px;}
textarea{
	width:100%;
	height:auto;
	min-height:80px;
	margin-bottom:10px;
	font-size: 13px;
	line-height: 20px;
}	
.commentbox{clear:both;
	display:block;
    margin-top:40px;}
.commentbox li{
	display:block;
	margin-bottom:30px;
	line-height:24px;
	text-align:left;
	font-size: 13px;
	border-bottom:1px dotted #aaa;}
.commentbox li img{
	width:20px;  
    height:20px;
	margin-right:10px;}
.commentbox li a{
	color:#999;
	margin-right:10px;
	font-size: 13px;
	display: inline-block;
}
.commentbox li, .commentbox li a,.commentbox li img{vertical-align:central;}
/**************************作品页************************/
.collection-box hr{border-bottom:1px groove #999;margin:5px;}
.collection-box .score{margin:0;}
.collection-box b{font-size:13px;}
.edit{margin-left:10px;}
.edit:hover,.favor:hover{font-weight:normal;}
.edit i{font-size:22px;}
.edit:hover,.edit:active,.edit:link,.edit:visited{text-decoration:none;color:#333;}

/***********************弹出窗***************************/
.input-append{position: relative;}
.uploadbtn{
	position: absolute;
	left: 190px;
	top:0px;}
.modal-dialog{	
	width:300px;
	position:fixed;
	top:50%;
	left:50%;
	margin:-100px 0 0 -200px;}
#myNovel .modal-dialog{
	width:600px;
	position:fixed;
	top:20%;
	left:50%;
	margin:0 0 0 -300px;}
#myNovel table{
	width:90%;
	margin:0 5%;
	font-size:13px;}
#myNovel td,tr,input,select,{text-align:left;padding:0;margin:0;}
#myNovel table tr td:nth-child(2n+1){width:50px;}
.modal-dialog h3{
	width:100%;
	text-align:center;
	color:#333;}
.modal-dialog input,select,.modal-btn{
	width:80%;
	height:32px;
	margin:0 10%;
	margin-bottom:15px;
	font-size:13px;
	line-height:32px;}
.modal-dialog table input{
	text-indent:0px;}
.modal-dialog input{
	text-indent:28px;}
.modal-btn button{width:45%;}
.modal-btn>button:first-child{margin-right:7%;}
.modal-body i{
	margin-left:-236px;
	font-size:20px;
	color:#aaa;}
.modal-body i,.modal-body input,select {vertical-align:central;}
/********************************后台*********************************/
.back{
	margin:0 auto;
	width:1000px;
	background-color:#FFF;
	border:1px solid #999;
	box-shadow: 0 -0.25rem 0.25rem rgba(0,0,0,0.2);
	color:#666;
	position:relative;
	min-height:500px;
	padding:20px 1px;
	z-index:0;}
.photobox{
	box-shadow: 0  0 0.5rem rgba(0,0,0,0.5);
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-size:cover;
	background-position: center;
}
.photobox:hover{box-shadow: 0 0 1rem rgba(0,0,0,0.5);}
.back h3{
	text-align:center;
	padding :20px 0 0 0;}
.des_box{
	text-align:center;
	margin: 0 auto;
	font-size: 13px;
	color:#666;
	padding-bottom: 20px;
}
.des_box span{font-size: 14px;padding-right: 15px;}
.tab-content{padding:30px;}
.tab-content li{
	border-bottom:1px dotted #999999;
	margin-bottom:20px;
	font-size:13px;}
.tab-content li a{font-size: 15px}
.tab-content button{margin-bottom:10px;}
/********************************文单列表*********************************/
.collectlist-box li{
	width:180px;
    height:210px;
    float:left;
    margin-right:20px;
	margin-top:20px;
	font-size:14px;
	color:#666;
	position:relative;}
.collectlist-box li div{
	border:1px solid #999;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width:180px;
    height:180px;
	border-radius:0.5rem;
	transition:all ease 1s;}
.collectlist-box li div a{
	width:180px;height:180px;display:block;
	padding:30px 15px;
	border-radius:0.5rem;
	transition:all ease 1s;
	z-index: 100;
	background-color:rgba(255,255,255,0.4);}
.collectlist-box li div a:hover{background-color:rgba(51,51,51,0.6);}
.collectlist-box li div a:hover h3{color:#FFF;}
.collectlist-box li div a:hover h5{color:#FFF;}
.collectlist-box li h3{
	font-weight:bold;
	font-size:24px;
	text-align:center;}
.collectlist-box li h5{
	font-weight:bold;
	text-align:center;}
.collectlist-box li p,i{
	line-height:30px;}
.collectlist-box button{
	z-index: 500;
}
